Repository godesteem/bucket-engine, changes with the labels that .github/labeler.yml gives for each.
All labels: sandbox, core, vendors, engine, renderer, imgui, game, events, platform-linux, platform-opengl

.github/labeler.yml:

# Add 'sandbox' to any file changes within 'sandbox/' folder
sandbox: sandbox/src/*
# Add 'core' to any file changes within 'engine/' folder
core: engine/*
# Add 'vendors' to any file changes within 'engine/vendor' folder
vendors: engine/vendor/*
# Add 'engine' to any file changes within 'engine/src' folder
engine: engine/src/*
renderer: engine/src/engine/renderer/*
imgui: engine/src/engine/imgui/*
game: engine/src/engine/game/*
events: engine/src/engine/events/*
# Add 'engine' to any file changes within 'engine/src' folder
platform-linux: engine/src/platform/linux/*
platform-opengl: engine/src/platform/opengl/*

add todo for code changes
  engine/src/platform/opengl/OpenGLMesh.cpp
Labels: platform-opengl

drop unncessary m_VertexBuffer in favor of new vector of VertexArrays
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLMesh.h
Labels: platform-opengl

apply faces to index buffers
  engine/src/platform/opengl/OpenGLMesh.cpp
Labels: platform-opengl

drop unnecessary unbind
  engine/src/platform/opengl/OpenGLBuffer.cpp
Labels: platform-opengl

allow enabling of single vertex buffer by index
  engine/src/engine/renderer/Buffer.h
  engine/src/platform/opengl/OpenGLBuffer.cpp
  engine/src/platform/opengl/OpenGLBuffer.h
Labels: renderer, platform-opengl

revert change and make "grid" work
  engine/src/platform/opengl/OpenGLRendererAPI.cpp
Labels: platform-opengl

using an vector of VertexArrays was a wrong assumption!
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLMesh.h
Labels: platform-opengl

there is no difference anymore, all can be treated the same way
  engine/src/platform/opengl/OpenGLRendererAPI.cpp
Labels: platform-opengl

add faces to mesh
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLMesh.h
Labels: platform-opengl

add getter for faces
  engine/src/engine/renderer/ObjFile.h
Labels: renderer

since we can have several vertex buffers on a object we need to determine for which the data is supposed to be,
  engine/src/engine/renderer/Buffer.h
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLVertexArray.cpp
Labels: renderer, platform-opengl

Rebase megit status
  engine/src/engine/renderer/ObjFile.h
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLVertexArray.cpp
  sandbox/src/GameWorld.cpp
Labels: sandbox, renderer, platform-opengl

add more doc comments
  engine/src/engine/renderer/Buffer.h
Labels: renderer
