Repository godesteem/bucket-engine, changes with the labels that .github/labeler.yml gives for each.
All labels: sandbox, core, vendors, engine, renderer, imgui, game, events, platform-linux, platform-opengl

modify to make it work
  .gitignore
  sandbox/src/GameWorld.h
Labels: sandbox

address renderer info issue
  engine/src/platform/opengl/OpenGLContext.cpp
Labels: platform-opengl

reformat opengl info, add resize support
  engine/src/engine/Application.cpp
  engine/src/engine/Application.h
  engine/src/engine/Window.h
  engine/src/platform/linux/X11Window.cpp
  engine/src/platform/linux/X11Window.h
  engine/src/platform/opengl/OpenGLContext.cpp
Labels: platform-linux, platform-opengl

add renderer tutorial
  minimal/README.md
Labels: none

add full screen option
  engine/src/platform/linux/X11Window.cpp
Labels: platform-linux

prepare sandbox app for game kinetic body tests
  engine/src/engine/game/KineticBody.cpp
  engine/src/engine/game/KineticBody.h
  sandbox/src/SandboxApp.cpp
Labels: sandbox, game

remove fullscreen call for now
  engine/src/platform/linux/X11Window.cpp
Labels: platform-linux

remove obj files
  sandbox/assets/models/World\.obj
Labels: none

move from sandbox to kinetic body
  engine/src/engine.h
  engine/src/engine/game/KineticBody.cpp
  engine/src/engine/game/KineticBody.h
  sandbox/src/SandboxApp.cpp
Labels: sandbox, engine, game

refactor cameras
  engine/CMakeLists.txt
  engine/src/engine.h
  engine/src/engine/events/Event.h
  engine/src/engine/game/KineticBody.cpp
  engine/src/engine/game/KineticBody.h
  engine/src/engine/renderer/camera/Camera.cpp
  engine/src/engine/renderer/camera/Camera.h
  engine/src/engine/renderer/camera/CameraController.cpp
  engine/src/engine/renderer/camera/CameraController.h
  engine/src/engine/renderer/camera/OrthographicCamera.cpp
  engine/src/engine/renderer/camera/OrthographicCamera.h
  engine/src/engine/renderer/camera/ThirdPersonCamera.cpp
  engine/src/engine/renderer/camera/ThirdPersonCamera.h
Labels: core, engine, game, events

begin controler differentiation for 3d and 2d camera
  engine/src/engine/renderer/camera/Camera.h
  engine/src/engine/renderer/camera/CameraController.cpp
  engine/src/engine/renderer/camera/CameraController.h
  minimal/README.md
  sandbox/src/SandboxApp.cpp
Labels: sandbox

start player obj creation
  engine/src/engine/game/KineticBody.cpp
  engine/src/engine/renderer/camera/Camera.h
  engine/src/engine/renderer/camera/CameraController.cpp
  engine/src/engine/renderer/camera/CameraController.h
  engine/src/engine/renderer/camera/ThirdPersonCamera.cpp
  engine/src/engine/renderer/camera/ThirdPersonCamera.h
  engine/src/engine/renderer/mesh/Mesh.h
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLMesh.h
  engine/src/platform/opengl/OpenGLRendererAPI.cpp
  sandbox/assets/shaders/Player.glsl
  sandbox/src/SandboxApp.cpp
Labels: sandbox, game, platform-opengl

rebase aftermath
  engine/src/engine/Application.h
  engine/src/engine/renderer/camera/ThirdPersonCamera.cpp
  engine/src/platform/linux/X11Window.cpp
  engine/src/platform/opengl/OpenGLContext.h
  sandbox/src/GameWorld.h
Labels: sandbox, platform-linux, platform-opengl

wip
  engine/lib/math/matrix.h
  sandbox/assets/models/World.obj
  sandbox/src/GameWorld.cpp
  sandbox/src/GameWorld.h
  sandbox/src/SandboxApp.cpp
  sandbox/src/SandboxApp.h
Labels: sandbox

fix to make compile includ engine
  engine/src/engine.h
  sandbox/src/GameWorld.cpp
  sandbox/src/GameWorld.h
  sandbox/src/SandboxApp.cpp
  sandbox/src/SandboxApp.h
Labels: sandbox, engine

wont be able to draw cube6
  engine/src/engine/Core.h
  engine/src/engine/renderer/Buffer.cpp
  engine/src/engine/renderer/Buffer.h
  engine/src/engine/renderer/Mesh.cpp
  engine/src/engine/renderer/Mesh.h
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLMesh.h
  sandbox/assets/models/World.obj
  sandbox/assets/models/cube6.obj
  sandbox/src/GameWorld.cpp
  sandbox/src/GameWorld.h
  sandbox/src/SandboxApp.cpp
  sandbox/src/SandboxApp.h
Labels: sandbox, renderer, platform-opengl

no more debug output
  engine/src/engine/renderer/Mesh.cpp
Labels: renderer

add cmake build
  .gitignore
Labels: none

move character movement into kinematic body
  engine/src/engine/game/KineticBody.cpp
  engine/src/engine/renderer/camera/Camera.cpp
  engine/src/engine/renderer/camera/Camera.h
  engine/src/engine/renderer/camera/ThirdPersonCamera.cpp
  engine/src/engine/renderer/camera/ThirdPersonCamera.h
Labels: game

implement correct way to store an obj mesh
  engine/src/engine/renderer/Mesh.cpp
  engine/src/engine/renderer/Mesh.h
Labels: renderer

obj file reading writing complete, rendering is borked
  engine/lib/math/matrix.h
  engine/src/engine/renderer/Mesh.cpp
  engine/src/engine/renderer/Mesh.h
  engine/tests/test_math.h
  sandbox/assets/models/cube6.obj
  sandbox/src/GameWorld.cpp
Labels: sandbox, renderer

start graph in map for pathfinding
  engine/lib/math/matrix.h
  engine/src/engine/game/Graph.cpp
  engine/src/engine/game/Graph.h
  engine/src/engine/game/Node.cpp
  engine/src/engine/game/Node.h
  engine/src/engine/game/Vertex.cpp
  engine/src/engine/game/Vertex.h
  engine/src/engine/renderer/Mesh.cpp
  engine/src/engine/renderer/Mesh.h
Labels: renderer, game

make compile
  engine/src/engine.h
  engine/src/engine/renderer/Mesh.h
Labels: engine, renderer

replace comments with doc comments
  engine/src/engine/renderer/Mesh.h
Labels: renderer

fix typo
  engine/src/engine/renderer/Mesh.cpp
  engine/src/engine/renderer/Mesh.h
Labels: renderer

extract objfile into new file
  engine/CMakeLists.txt
  engine/src/engine/renderer/Mesh.cpp
  engine/src/engine/renderer/Mesh.h
  engine/src/engine/renderer/ObjFile.cpp
  engine/src/engine/renderer/ObjFile.h
  engine/src/platform/opengl/OpenGLMesh.cpp
  sandbox/src/GameWorld.cpp
Labels: sandbox, core, renderer, platform-opengl

move IndexBuffer higher to use in VertexBuffer
  engine/src/engine/renderer/Buffer.h
Labels: renderer

add doc comments to vertex array
  engine/src/engine/renderer/VertexArray.h
Labels: renderer

rename uvs to textures
  engine/src/platform/opengl/OpenGLMesh.cpp
Labels: platform-opengl

small refactor for buffers,
  engine/src/engine/renderer/Buffer.cpp
Labels: renderer

add doc comments
  engine/src/engine/renderer/Buffer.h
Labels: renderer

drop model attributes for now
  engine/src/engine/renderer/Mesh.h
Labels: renderer

drop unused variabl
  engine/src/engine/renderer/ObjFile.cpp
Labels: renderer

add doc comments and todo
  engine/src/platform/opengl/OpenGLMesh.cpp
  engine/src/platform/opengl/OpenGLMesh.h
Labels: platform-opengl

add new constructors to implement new type of buffer layout
  engine/src/engine/renderer/Buffer.cpp
  engine/src/engine/renderer/Buffer.h
Labels: renderer

move buffer id into array of ids to enable multi (3) buffers per VertexBuffer object
  engine/src/platform/opengl/OpenGLBuffer.cpp
  engine/src/platform/opengl/OpenGLBuffer.h
Labels: platform-opengl

drop unnecessary friend. (it's over.)
  engine/src/platform/opengl/OpenGLMesh.h
Labels: platform-opengl

add doc comments
  engine/src/engine/renderer/Mesh.h
Labels: renderer

add new constructor implementation for OpenGL
  engine/src/platform/opengl/OpenGLBuffer.cpp
  engine/src/platform/opengl/OpenGLBuffer.h
Labels: platform-opengl

add doc comments
  engine/src/platform/opengl/OpenGLBuffer.h
Labels: platform-opengl

.github/labeler.yml:

# Add 'sandbox' to any file changes within 'sandbox/' folder
sandbox: sandbox/src/*
# Add 'core' to any file changes within 'engine/' folder
core: engine/*
# Add 'vendors' to any file changes within 'engine/vendor' folder
vendors: engine/vendor/*
# Add 'engine' to any file changes within 'engine/src' folder
engine: engine/src/*
renderer: engine/src/engine/renderer/*
imgui: engine/src/engine/imgui/*
game: engine/src/engine/game/*
events: engine/src/engine/events/*
# Add 'engine' to any file changes within 'engine/src' folder
platform-linux: engine/src/platform/linux/*
platform-opengl: engine/src/platform/opengl/*
